<ion-content class="login-content">

  <div class="login-container">
    <!-- Welcome Message -->
    <div class="text-center">
      <h2 class="welcome-title">Welcome Back to Sortify</h2>
      <p class="welcome-subtitle">Log in to continue your eco-friendly journey</p>
    </div>

    <!-- Email Field -->
<div class="input-box">
  <ion-icon name="mail-outline" class="input-icon"></ion-icon>
  <input [(ngModel)]="email" type="email" placeholder="Enter your email" class="input-field" />
</div>


   
    <!-- Password Field with Toggle Icon -->
<div class="input-box password-box">
  <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
  <input
    [(ngModel)]="password"
    [type]="showPassword ? 'text' : 'password'"
    placeholder="Enter your password"
    class="input-field"
  />
  <ion-icon
    [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
    class="toggle-password-icon"
    (click)="showPassword = !showPassword"
  ></ion-icon>
</div>


    <!-- Forgot Password -->
<ion-text class="forgot-password">
  <a routerLink="/forgot-password">Forgot Password?</a>
</ion-text>

    <!-- Login Button -->
    <ion-button expand="block" class="login-button" (click)="login()">Login</ion-button>

    <!-- Register Link -->
    <div class="register-link">
      <p>Don't have an account? <a routerLink="/register">Register Now</a></p>
    </div>
  </div>

</ion-content>
